<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>予約登録</title>
</head>
<body>
    <h1>新規予約</h1>
    
    <form th:action="@{/reservations/save}" th:object="${reservation}" method="post">
        
        <div>
            <label>電話番号：</label>
            <input type="text" th:field="*{phoneNumber}" required>
        </div>

        <div>
            <label>予約日：</label>
            <input type="date" name="date" required>
        </div>

        <div>
            <label>開始時間：</label>
            <select name="time">
                <option th:each="slot : ${timeSlots}" 
                        th:value="${slot}" 
                        th:text="${slot}"></option>
            </select>
        </div>

		<div>
		    <label>メニュー：</label>
		    <select th:field="*{menuName}">
		        <option value="カット">カット (30分)</option>
		        <option value="カラー＆カット">カラー＆カット (90分)</option>
		        <option value="パーマ">パーマ (120分)</option>
		    </select>
		</div>

        <button type="submit">予約する</button>
    </form>
</body>
</html>